@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    color: #393d41;
    line-height: 1.65;
}

h1, h3, h4 {
    font-family: 'Montserrat', sans-serif;
    color: #25a2c3;
    line-height: 1.5;
    font-weight: 700;
}

/* HEADER */
.logo {
    background-color: black;
    padding: 1.3em 2EM;
    text-align: start;
}

.logo img {
    width: 150px;
}

.start {
    background-image: url(Esercizio/images/banner.jpg);
    background-size:cover;
    padding-left: 20em;
    padding-right: 20em;
    padding-top: 7em;
    padding-bottom: 10em;
    background-position: center;
}

h1 {
    font-size: 1.6em;
    text-align: center;
    line-height: 1;
}

.start p {
    font-size: 16px;
    text-align: center;
    margin-top: 1.3em;
}

.button {
    text-align: center;
}

button {
    background-color: #f04c2f;
    font-weight: bold;
    color: white;
    border: none;
    padding: 1.2em 2.2em;
    border-radius: 3px;
    margin-top: 2.5em;
}

/* MAIN */

#content-first {
    margin: 4em 4em;
}

div#content-first {
    display: inline;
    width: 100%;
}

div.content-image {
    float: left;
    width: 40%;
}

div.content-text {
    float:right;
    width: 60%;
    margin-top: -450px;
}

.content-img img {
    border-radius: 100%;
    margin-left: 8em;
    margin-top: 5em;
}

.content-text .text {
    margin-right: 20em;
    padding-left: 3em;
}

.text {
    font-size: 16px;
    margin-top: 2em;
}

.content2 {
    font-size: 0.8em;
    background-color: #e22d0e;
    color: white;
    text-align: center;
    padding: 4em 4em 7em 7em;
    margin-top: 5em;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: bold;
}

h2 + p {
    font-size: 1.5em;
    font-style: italic;
    margin-top: 1.5em;
}

.par {
    margin-top: 1.5em;
}

.p1 {
    font-size: 1.2em;
}

.p2 {
    font-size: 0.8em;
}

/* ASIDE */

#content-card {
    display: inline-block;
    width: 100%;
    margin: 6em 6em 3em 3em;
    margin-bottom: 8em;
}
.card, .card1{
    float: left;
    width: 29%;
    border: 1px solid #dee1e3;
    text-align: center;
    font-size: 16px;   
}

.card1 img {
    width: 100%;
}

.card img {
    width: 100%;
}

.card1 {
    margin-left: 2em;
    margin-right: 2em;
}

h4 {
    margin-top: 1.5em;
}

h4 + p {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-top: -15px;
    padding: 1.5em;
}

/* FOOTER */
footer {
    text-align: center;
    background-color: #25a2c3;
    color: white;
    padding: 3em 2em;
}

.icons {
    margin: 1.7em 0;
    color: rgba(255, 255, 255, 0.884)
}

.icon i, .icon a, .icon address {
    display: inline;
}

.icon a:link {
    color: rgba(255, 255, 255, 0.884)
}

hr {
    margin: 0 32em;
    color: white;
}

footer p {
    margin-top: 1.7em;
}

.pix a:link {
    color: rgba(255, 255, 255, 0.884)
}

.pix {
    color: rgba(255, 255, 255, 0.884)
}



